<%= layout "/layout.html" %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $("#sign-in-button").click(function() {
      $("#create-account-form").slideUp(function() {
        $("#sign-in-form").slideDown();
      });
      
    });
    
    $("#create-account-button").click(function() {
      $("#sign-in-form").slideUp(function() {
        $("#create-account-form").slideDown();  
      });
      
    });
    
    
  })
</script>



<div class="hero-unit">
  <h1>Learn Together</h1>
  <br>
  <p>Achieve your goals while helping others reach theirs! <strong>Learning Web</strong> will pair you up with friends based on what each of you can <strong>teach</strong> and what you want to <strong>learn</strong>. Sign in or create an account to get started!</p>

  <p>
    <a id="sign-in-button" class="btn btn-primary btn-large">Sign In &raquo;</a>
    <a id="create-account-button" class="btn btn-large">Create Account &raquo;</a>  
  </p>

</div>


<form method="POST" action="/dog/account.signin" class="well form-inline" id="sign-in-form">
  <h6>Sign In</h6>
  <input type="text" class="input-medium" placeholder="Email" name="email">
  <input type="password" class="input-medium" placeholder="Password" name="password">
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>


<form method="POST" action="/dog/account.create" class="well form-inline" id="create-account-form">
  <h6>Create Account</h6>
  <input type="text" class="input-medium" placeholder="Email" name="email">
  <input type="password" class="input-medium" placeholder="Password" name="password">
  <input type="password" class="input-medium" placeholder="Confirm" name="confirm">
  <button type="submit" class="btn btn-primary">Create Account</button>
</form>

<div class="row-fluid">
  <div class="span4">
    <h2>Step 1: Create account</h2>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.        </div>
  
  <div class="span4">
    <h2>Step 2: List interests </h2>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.        </div>
  
  <div class="span4">
    <h2>Step 3: Meet up</h2>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.        
  </div>
  
</div>

 