<%= layout "/layout.html" %>

<style type="text/css" media="screen">
  #provide-interests {
    display:none;
  }
</style>

<script type="text/javascript" charset="utf-8">
	

	
	function provideThreeInterests(task) {
		$("#provide-interests").modal({keyboard:false});
		$("#provide-interests").data("dog.task", task);
	}
	
  	$(function() {
		
	    $("#provide-interests .save").click(function() {
			$("#provide-interests").modal('hide');
	    })

	    $('#provide-interests').on('hide', function () {
			
			var objective = $("#provide-interests .objective").val()
			var learnables = $("#provide-interests .teachables").val()
			var teachables = $("#provide-interests .teachables").val()
			
			var request = $.post("/dog/tasks.respond", {
				"id": $(this).data("dog.task")._id,
				"response": {
					"objective":objective,
					"learnables":[learnables],
					"teachables":[teachables]	
				}
			});
			
			request.done(function(output) {
				if(output.success) {
					$(".profile .teachables").val(teachables)
					$(".profile .learnables").val(learnables)
				}
			})
	    });
	
	
		var request = $.post("/dog/tasks.list", {
			"completed":false
		});

		request.done(function(dog) {
			for(i in dog.tasks) {
				var task = dog.tasks[i];
				if (task.type == "ProvideThreeInterests") {
					provideThreeInterests(task);
				}
			}
		})
	});
</script>

<div class="modal fade" id="provide-interests">
  <div class="modal-header">
    <h3>What do you hope to accomplish?</h3>
  </div>
  <div class="modal-body">
    <form>
      <label>What are your goals?</label>
      <textarea name="objective" class="objective" style="width:90%" rows="4"></textarea>

      <label>What do you want to learn to do that?</label>
      <textarea name="learnables" class="learnables" style="width:90%" rows="4"></textarea>
      
      <label>What can you teach others?</label>
      <textarea name="teachables" class="teachables" style="width:90%" rows="4"></textarea>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary save">Save</a>
  </div>
</div>

<div class="row-fluid profile-box">
    <div class="span4">
      <div class="image">
        <img src="http://www.gravatar.com/avatar/d7b205a61db76f545dd527b4d8670dea?s=256" />  
      </div>
    </div>
    <div class="span8">
      
      <form class="profile">
        <div class="control-group">
          <h3 class="control-label" for="input01">
            Learnables
          </h3>
          <div class="controls">
            <textarea class="input-xlarge learnables" rows="4" style="width:100%"></textarea>
          </div>
        </div>
        <div class="control-group">
          <h3 class="control-label" for="input01">
            Teachables
          </h3>
          <div class="controls">
            <textarea class="input-xlarge teachables" rows="4" style="width:100%"></textarea>
          </div>
        </div>
      </form>
      
    </div>  
</div>


<div class="row-fluid">
    <div class="span4">
      <ul class="well nav nav-list sidebar">
        <li class="nav-header">
          Explore
        </li>
        <li class="active">
          <a href="#">Dashboard</a>
        </li>
        <li>
          <a href="#">Profile</a>
        </li>
        <li>
          <a href="#">Messages</a>
        </li>
      </ul>
    </div>
    <div class="span8">
      <div class=well>
        <center><h3>No Meetings Found</h3></center>
      </div>
    </div>  
</div>