<%= layout "/layout.html" %>

<style type="text/css" media="screen">
	#provide-interests {
		display:none;
	}
	
	.overview .learnables, .overview .teachables {
		border:1px solid #ccc;
		border-radius:3px;
		padding:10px;
		margin-bottom:25px;
		overflow:auto;
		height:50px;
	}
	
	.main-content .profile, .main-content .messages, .main-content .learn {
		display:none;
	}
	
	.input {
		padding:5px;
	}
	
	.profile .error {
		display:none;
	}
	
	.profile .success {
		display:none;
	}
	
	#no-matched-teachers {
		display:none;
	}
	
	#no-found-teachers {
		display:none;
	}
	
	.matched-teacher {
		padding:10px;
		border:1px solid #ccc;
	}
	
	.matched-teacher .meet {
		float:right;
		padding-left:10px;
	}
	
	
	
	.matched-teacher .icon {
		float:left;
		padding-right:10px;
	}
	
</style>

<script type="text/javascript" charset="utf-8">
		
	function provideThreeInterests(task) {
		$("#provide-interests").modal({keyboard:false});
		$("#provide-interests").data("dog.task", task);
	}
	
	$(function() {
		
		$(".btn-meet").live("click", function() {
			var meet = $.post("/meet", {
				person:$(this).data("person-id")
			})
			
			meet.done(function() {
				alert("done")
			});
			
			meet.fail(function() {
				alert("fail")
			})
		})
		
		$("#provide-interests .save").click(function() {
			$("#provide-interests").modal('hide');
		})

		$('#provide-interests').on('hide', function () {
			var objective = $("#provide-interests .objective").val()
			var learnables = $("#provide-interests .learnables").val()
			var teachables = $("#provide-interests .teachables").val()
			
			var request = $.post("/dog/tasks.respond", {
				"id": $(this).data("dog.task")._id,
				"response": {
					"objective":objective,
					"learnables":learnables.split(/\s*,\s*/),
					"teachables":teachables.split(/\s*,\s*/)
				}
			});
			
			request.done(function(output) {
				if(output.success) {
					$(".overview .teachables").html(teachables)
					$(".overview .learnables").html(learnables)
				}
			})
		});
		
		
		$("#learn form").submit(function() {
			var find_teacher = $.post("/find_teacher", {
				"learnable":$(this).find(".learnable").val()
			})

			find_teacher.done(function(output) {
				$("#no-found-teachers").hide();
				if (output.teachers.length == 0) {
					$("#no-found-teachers").show();
				} else {
					$.each(output.teachers, function(index, teacher) {
						var teacher_markup = $("<div class='matched-teacher' />");
						
						var gravatar = "http://www.gravatar.com/avatar/" + md5(teacher.email) + "?d=mm&s=32";
						
						
						$(teacher_markup).append($('<div class="icon"><img src="' + gravatar + '" /></div>'));
						$(teacher_markup).append($('<div class="meet"><input data-person-id="' + teacher._id + '" type="button" value="Meet" class="btn btn-success btn-meet"></div>'));
						
						$(teacher_markup).append($('<div class="name">' + teacher.email + '</div>'))
						$(teacher_markup).append($('<div class="teachables"><b>Teachables: </b>' + teacher.profile.learners.teachables.join(", ") + '</div>')) 
						$("#found-teachers-list").html(teacher_markup);
					});
				}
			});
			
			find_teacher.fail(function() {
				$("#no-found-teachers").show();
			})
			
			return false;
		})
		

		
		
		$("#profile form").submit(function() {
			
			var update = $.post("/dog/profile.update", {
				"value": {
					"learners": {
						"learnables": $(".profile .learnables").val().split(/\s*,\s*/),
						"teachables": $(".profile .teachables").val().split(/\s*,\s*/),
						"objective": $(".profile .objective").val()
					}
				}
			});
			
			var form = $(this);
			
			update.done(function(data) {
				$(form).find(".success").show();
				setTimeout(function() {
					$(form).find(".success").fadeOut();
				}, 1000)
			});
			
			update.fail(function(data) {
				$(form).find(".error").show();
				setTimeout(function() {
					$(form).find(".error").fadeOut();
				}, 1000)
			});
			
			return false;
		})
		
		$(".sidebar a").click(function() {
			var id = $(this).attr("href");
			$(".sidebar .active").removeClass("active");
			$(this).parent().addClass("active")
			$(".main-content > *").hide();
			$(id).show();
		})
		
		var account_status = $.post("/dog/account.status")
		
		account_status.done(function(data) {
			
			if(data.logged_in) {
				var tasks = $.post("/dog/tasks.list", {
					"completed":false
				});
				
				tasks.done(function(data) {
					for(i in data.tasks) {
						var task = data.tasks[i];
						if (task.type == "ProvideThreeInterests") {
							provideThreeInterests(task);
						}
					}
				});
				
				var profile = $.post("/dog/profile.view")
				profile.done(function(user) {
					profile = user.value.profile
					
					var gravatar = "http://www.gravatar.com/avatar/" + md5(user.value.email) + "?d=mm&s=256";
					$("#icon").attr("src", gravatar);
					
					if (profile.learners.learnables == null) {
						profile.learners.learnables = []
					}
					
					if (profile.learners.teachables == null) {
						profile.learners.teachables = []
					}
					
					$(".overview .learnables").html(profile.learners.learnables.join(", "));
					$(".overview .teachables").html(profile.learners.teachables.join(", "));
					
					$(".profile .email").html(user.value.email)
					$(".profile .objective").val(profile.learners.objective);
					$(".profile .learnables").val(profile.learners.learnables.join(", "))
					$(".profile .teachables").val(profile.learners.teachables.join(", "))
					
					var matched_teachers = $.post("/matched_teachers")
					matched_teachers.done(function(output) {
						if (output.teachers.length == 0) {
							$("#no-matched_teachers").show();
						} else {
							$.each(output.teachers, function(index, teacher) {
								var teacher_markup = $("<div class='matched-teacher' />");
								
								var gravatar = "http://www.gravatar.com/avatar/" + md5(teacher.email) + "?d=mm&s=32";
								
								
								$(teacher_markup).append($('<div class="icon"><img src="' + gravatar + '" /></div>'));
								$(teacher_markup).append($('<div class="meet"><input data-person-id="' + teacher._id["$oid"] + '" type="button" value="Meet" class="btn btn-success btn-meet"></div>'));
								
								$(teacher_markup).append($('<div class="name">' + teacher.email + '</div>'))
								$(teacher_markup).append($('<div class="teachables"><b>Teachables: </b>' + teacher.profile.learners.teachables.join(", ") + '</div>')) 
								$("#matched-teachers-list").html(teacher_markup);
							});
						}
					});
					
					matched_teachers.fail(function(output) {
						$("#no-matched_teachers").show();
					});
					
				});
				
			} else {
				window.location = "/"
			}
		});
	});
</script>

<div class="modal fade" id="provide-interests">
  <div class="modal-header">
    <h3>What do you hope to accomplish?</h3>
  </div>
  <div class="modal-body">
    <form>
      <label>What are your goals?</label>
      <textarea name="objective" class="objective" style="width:90%" rows="4"></textarea>

      <label>What do you want to learn to do that?</label>
      <textarea name="learnables" class="learnables" style="width:90%" rows="4"></textarea>
      
      <label>What can you teach others?</label>
      <textarea name="teachables" class="teachables" style="width:90%" rows="4"></textarea>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary save">Save</a>
  </div>
</div>

<div class="row-fluid profile-box">
    <div class="span4">
      <div class="image">
        <img id="icon" />  
      </div>
    </div>
    <div class="span8">
      
      <form class="overview">
        <div class="control-group">
          <h3 class="control-label" for="input01">
            Your Learnables
          </h3>
          <div class="controls">
            <div class="input-xlarge learnables" rows="4" style="width:100%"></div>
          </div>
        </div>
        <div class="control-group">
          <h3 class="control-label" for="input01">
            Your Teachables
          </h3>
          <div class="controls">
            <div class="input-xlarge teachables" rows="4" style="width:100%"></div>
          </div>
        </div>
      </form>
      
    </div>  
</div>


<div class="row-fluid">
    <div class="span4">
      <ul class="well nav nav-list sidebar">
        <li class="nav-header">
          Explore
        </li>
        <li class="active">
          <a href="#teachers">Matched Teachers</a>
        </li>
        <li>
          <a href="#learn">Learn Something New</a>
        </li>
        <li>
          <a href="#profile">Profile</a>
        </li>
        <li>
          <a href="#messages">Messages</a>
        </li>
      </ul>
    </div>
    <div class="span8">
      <div class="well main-content">
				<div id="teachers" class="teachers">
					<div id="no-matched-teachers">
						<h3>We could not find any teachers for you now.</h3>
						<p>Not to worry - people are continuously joining LearningWeb. There will soon be a person that can help you out.</p>
					</div>
					<div id="matched-teachers">
						<div id="matched-teachers-list">
							
						</div>
					</div>
				</div>
				
				<div id="learn" class="learn">
					<center>
						<form action="" method="" class="form-inline" accept-charset="utf-8">
							<input type="text" class="input-xlarge learnable" placeholder="What do you want to learn?" value="" id=""> <input type="submit" class="btn btn-primary" value="Go!">
						</form>
					</center>
					
					<div id="no-found-teachers">
						<h3>We could not find any teachers for you now.</h3>
						<p>Not to worry - people are continuously joining LearningWeb. There will soon be a person that can help you out.</p>
					</div>
					<div id="found-teachers">
						<div id="found-teachers-list">
							
						</div>
					</div>
					
					
				</div>
				
				<div id="profile" class="profile">
					
					<form class="form-horizontal">
					  <fieldset>
							
							<div class="control-group">
								<label class="control-label">Email</label>
								<div class="controls">
									<p id="email" class="email input"></p>
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label">Objective</label>
								<div class="controls">
									<textarea name="learners[objective]" class="objective" style="width:90%" rows="4"></textarea>
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label">Learnables</label>
								<div class="controls">
									<textarea name="learners[learnables]" class="learnables" style="width:90%" rows="4"></textarea>
								</div>
							</div>
							
							<div class="control-group">
								<label class="control-label">Teachables</label>
								<div class="controls">
									<textarea name="learners[teachables]" class="teachables" style="width:90%" rows="4"></textarea>
								</div>
							</div>
							
							<div class="form-actions">
								<button type="submit" class="btn btn-primary">Save Profile</button> 
								<span class="control-group success">
									<span class="help-inline">Successfully saved profile.</span>
								</span>
								<span class="control-group error">
									<span class="help-inline">There was an error saving your profile.</span>
								</span>
							</div>

					
					  </fieldset>
					</form>
					
					
				</div>
				<div id="messages" class="messages">
					
				</div>
      </div>
    </div>  
</div>