<%= layout "/layout.html" %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $("#sign-in-button").click(function() {
      $("#create-account-form").slideUp(function() {
        $("#sign-in-form").slideDown();
      });
    });
    
    $("#create-account-button").click(function() {
      $("#sign-in-form").slideUp(function() {
        $("#create-account-form").slideDown();  
      });
    });
    
    $("#sign-in-form").submit(function() {
      var request = $.post("/dog/account.login", $(this).serialize());
      
      request.success(function() {
        data = $.parseJSON(request.responseText)
      });
      
      request.error(function() {
        data = $.parseJSON(request.responseText)
        
        $("#sign-in-form .control-group").addClass("error")
        $("#sign-in-errors").html(data["errors"].join(","))
      });

      return false;
    });
    
    $("#create-account-form").submit(function() {
      var request = $.post("/dog/account.create", $(this).serialize());
      
      request.success(function() {
        data = $.parseJSON(request.responseText)
      });
      
      request.error(function() {
        data = $.parseJSON(request.responseText)
        
        $("#create-account-form .control-group").addClass("error")
        $("#create-account-errors").html(data["errors"].join(","))
      });
      
      return false;
    });


		$("#profile form").submit(function() {
			var update = $.post("/dog/profile.update", {
				"value": {
					"vark": {
						"expertise": $("#profile #expertise").val().split(/\s*,\s*/),
						"location": $("#profile #location").val()
					}
				}
			});
			
			var form = $(this);
			
			update.done(function(data) {
				$(form).find(".success").show();
				setTimeout(function() {
					$(form).find(".success").fadeOut();
				}, 1000)
			});
			
			update.fail(function(data) {
				$(form).find(".error").show();
				setTimeout(function() {
					$(form).find(".error").fadeOut();
				}, 1000)
			});
			
			return false;
		})
		
		
		var account_status = $.post("/dog/account.status")
		
		account_status.done(function(data) {
			
			if(data.logged_in) {
				
				var profile = $.post("/dog/profile.view")
				profile.done(function(user) {
					
					profile = user.value.profile
					
					console.log(profile)
					
					if (profile.vark.expertise == null) {
						profile.vark.expertise = []
					}
					
					$("#profile #email").html(user.value.email)
					$("#profile #google").html(user.value.google)
					$("#profile #expertise").val(profile.vark.expertise.join(", "));
					$("#profile #location").val(profile.vark.location)
					
				});
				
			}
		});

  });
</script>


<div id="splash" style="display:none">
	<div class="hero-unit">
	  <h1>Get Answer Over IM</h1>
	  <br>
	  <p>Leverage your extended social network to get answers to the questions you want... over IM.</p>

		<p><strong>Sign In</strong> or <strong>Create an Account</strong> to get started.</p>
	</div>	
</div>

<div id="profile" style="display:none">
	<div class="hero-unit">
		
		<h1>Your Profile</h1>
		<form action="" method="get" class="form-horizontal">
		  <fieldset>
				
				<div class="control-group">
					<label class="control-label">Email</label>
					<div class="controls">
						<p id="email" class="email input"></p>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label">Google Handle</label>
					<div class="controls">
						<p id="google" class="email input"></p>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label">Location</label>
					<div class="controls">
						<input type="text" name="vark[location]" value="" style="width:90%" id="location">
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label">Expertise</label>
					<div class="controls">
						<textarea name="vark[expertise]" id="expertise" class="teachables" style="width:90%" rows="4"></textarea>
						<p class="help-block">What are some things that you can help people with?</p>
					</div>
				</div>
				
				<div class="form-actions">
					<button type="submit" class="btn btn-success">Save Profile</button> 
					<span class="control-group success" style="display:none">
						<span class="help-inline">Successfully saved profile.</span>
					</span>
					<span class="control-group error" style="display:none">
						<span class="help-inline">There was an error saving your profile.</span>
					</span>
				</div>
				
		  </fieldset>
		</form>
		
		<h1>Get Started</h1>
		<p id="getting-started">
			Dog Vark is easy to use. Whenever you have a question send an IM from Google Talk to <strong>aardvark@dormou.se</strong>. From time to time we will also send you IMs so that you can help out your friends.
		</p>
		
	</div>
</div>






 