<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dog Answers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Sansita+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="bootstrap/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	
    <script src="bootstrap/js/md5.js" type="text/javascript" charset="utf-8"></script>
    <script src="bootstrap/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8">
		
			function updateStatus() {
				var status = $.post("/dog/account.status")
				status.done(function(status) {
					if (status.logged_in == true) {
						$(".sign-in-buttons").hide();
						$("#view-question form").show();
						$("#ask-question form").show();
						$("#view-question .sign-in-notice").hide();
						$("#ask-question .sign-in-notice").hide();
						
						var profile = $.post("/dog/profile.view")
						profile.done(function(profile) {
							$(".sign-in-status").show();
							$(".sign-in-status .email").html(profile.value.email);
						})
					} else {
						$(".sign-in-buttons").show();
						$("#view-question form").hide();
						$("#ask-question form").hide();
						$("#view-question .sign-in-notice").show();
						$("#ask-question .sign-in-notice").show();
					}
				})
				
				status.fail(function() {
					$(".sign-in-buttons").show();
				})
			}
			
			$(function() {
				
				updateStatus()
				
				$("#sign-in-button").click(function() {
					$("#create-account-form").slideUp(function() {
						$("#sign-in-form")[0].reset()
						$("#sign-in-form").slideDown();
					});
				});
				
				$("#sign-off-button").click(function() {
					var request = $.post("/dog/account.logout")
					request.done(function(request) {
						$(".sign-in-status").hide();
						updateStatus();
					})
				});
				
				$("#create-account-button").click(function() {
					$("#sign-in-form").slideUp(function() {
						$("#create-account-form")[0].reset()
						$("#create-account-form").slideDown();  
					});
				});
				
				$("#sign-in-form").submit(function() {
					var request = $.post("/dog/account.login", $(this).serialize());
					
					request.success(function() {
						data = $.parseJSON(request.responseText)
						$("#sign-in-form").slideUp();
						updateStatus();
					});
					
					request.error(function() {
						data = $.parseJSON(request.responseText)
						
						$("#sign-in-form .control-group").addClass("error")
						$("#sign-in-errors").html(data["errors"].join(","))
					});
					
					return false;
				});
				
				$("#create-account-form").submit(function() {
					var request = $.post("/dog/account.create", $(this).serialize());
					
					request.success(function() {
						data = $.parseJSON(request.responseText)
						$("#create-account-form").slideUp();
						updateStatus()
					});
					
					request.error(function() {
						data = $.parseJSON(request.responseText)
						
						$("#create-account-form .control-group").addClass("error")
						$("#create-account-errors").html(data["errors"].join(","))
					});
					
					return false;
				});
			})
		</script>
  </head>
  <body>
    
    
    
    <div class="container">
      
      <header>
				<div class="pull-right sign-in-buttons">
					<a href="#" id="sign-in-button" class="btn btn-danger">Sign In</a>
					<a href="#" id="create-account-button" class="btn btn-danger">Create Account</a>
				</div>
				<div class="pull-right sign-in-status">
					<b>Signed in as: </b><span class="email"></span>
					<a href="#" id="sign-off-button" class="btn btn-danger">Sign Off</a>
				</div>
        <h1><a href="/">Dog Answers</a></h1>
      </header>


			<form method="POST" action="/dog/account.signin" class="form-inline" id="sign-in-form">
			  <h6>Sign In</h6>
			  <div class="control-group">
			    <div class="controls">
			      <input type="text" class="input-medium" placeholder="Email" name="email">
			      <input type="password" class="input-medium" placeholder="Password" name="password">
			      <button type="submit" class="btn btn-danger">Sign in</button>
			      <span class="help-inline" id="sign-in-errors"></span>
			    </div>
			  </div>

			</form>


			<form method="POST" action="/dog/account.create" class="form-inline" id="create-account-form">
			  <h6>Create Account</h6>
			  <div class="control-group">
			    <div class="controls">
			      <input type="text" class="input-medium" placeholder="Email" name="email">
			      <input type="password" class="input-medium" placeholder="Password" name="password">
			      <input type="password" class="input-medium" placeholder="Confirm" name="confirm">
			      <button type="submit" class="btn btn-danger">Create Account</button>
			      <span class="help-inline" id="create-account-errors"></span>
			    </div>
			  </div>
			</form>
      

      
      <%= yield %>
      
       
      <footer>
        <div id="dog-powered">
          Powered by Dog
        </div>
        <ul>
          <li>&copy; 2012 MIT Social Computing Lab.</li>
        </ul>
      </footer> 
    </div>
    
  </body>
</html>